<h1>Candy Shop - Stock Table</h1>
<h3>Using this software, you can manage the candy stock for our shop</h3>

<!-- Directs to add a new candy page -->
<input type="button" value="ADD A NEW CANDY" class="btn btn-default" ng-click=addCandy()>

<!-- Allows the user to enter a search term to sort the table by -->
<input type="text" ng-model="searchTerm" placeholder="SEACH TABLE">

<!-- The table showing all candy saved in the database -->
<table class="candyDisplayTable">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="item in allCandy | filter : searchTerm">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>
            <input type="button" value="Edit" class="btn btn-info" ng-click="editCandyDetails(item)">
        </td>
        <td>
            <input type="button" value="Delete" class="btn btn-info" ng-click="deleteCandy(item)">
        </td>
    </tr>
</table>
